<!DOCTYPE html>
<html lang="en" ng-app="uixecureShopApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uixecure會員入口網</title>
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <!-- angularjs -->
    <script src="../assets/plugins/angular/angular.min.js"></script>
    <script src="../assets/javascript/main.js"></script>
</head>
<body>
    <!-- header starts -->
    <header class="header bg-gray-800" ng-controller="headerController">
        <nav class="d-flex align-items-center">
            <div class="logo">
                <a href="../index_login.html">
                    <img src="../assets/images/logo.png" alt="uixecure會員網logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="https://www.unixecure.com/tw/index" target="_blank">智慧資安入口網</a></li>
                    <!-- <li><a href="#">儀表板</a></li> -->
                    <li><a href="../product/02_product_solutions.html">產品方案列表</a></li>
                    <li><a href="03_support.html">支援中心</a></li>
                    <li class="d-block d-lg-none">
                        <a href="#" class="btn-member member ml-4" ng-click="memberPhoneToggle()"><i class="fa-solid fa-user"></i> 會員中心</a>
                        <ul class="dropdown member-dropdown hide" ng-class="memberPhone ? 'show' : 'hide'">
                            <li><a href="../member/04_member.html" class="active">使用服務列表</a></li>
                            <li><a href="../member/04_member_edit.html">會員資料修改</a></li>
                            <li><a href="../member/04_security_settings.html">安全性設定</a></li>
                            <li><a href="../member/04_purchase_history.html">購買記錄</a></li>
                            <li><a href="../member/04_repair_service.html">報修服務</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="language-phone"><span class="mr-3" ng-click="languagePhoneToggle()">{{language[languageIndex]}}</span><i class="fa-solid fa-globe"></i></a>
                        <ul class="language-menu" ng-class="languagePhone ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="d-flex align-items-center">
                    <li class="d-none d-lg-block">
                        <a href="#" class="btn-member member" ng-click="memberToggle()"><i class="fa-solid fa-user"></i> 會員中心</a>
                        <ul class="dropdown member-dropdown hide" ng-class="memberMenu ? 'show' : 'hide'">
                            <li><a href="../member/04_member.html" class="active">使用服務列表</a></li>
                            <li><a href="../member/04_member_edit.html">會員資料修改</a></li>
                            <li><a href="../member/04_security_settings.html">安全性設定</a></li>
                            <li><a href="../member/04_purchase_history.html">購買記錄</a></li>
                            <li><a href="../member/04_repair_service.html">報修服務</a></li>
                        </ul>
                    </li>
                    <li><a href="../shopping/05_shopping_list.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <li class="d-lg-block d-none"><a href="#" class="btn language hide fa-solid fa-globe"></a>
                        <a href="#" class="btn language fa-solid fa-globe" ng-click="languageToggle()"></a>
                        <ul class="dropdown" ng-class="languageMenu ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                    <li class="d-block d-lg-none"><button type="button" class="btn bars"><i class="fa-solid fa-bars"></i></button></li>
                </ul>                
            </div>
        </nav>
    </header>
    <!-- header ends -->
    <!-- content starts -->
    <section class="content support">
        <div class="support-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">支援中心</a></li>
                        </ul>
                        <h1 class="mb-3">您好，請問需要什麼幫助？</h1>
                        <div class="support-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" id="search" class="form-control" placeholder="遇到什麼問題了嗎？" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="support-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-md-flex align-items-center py-4 fs-6">
                            <div class="mb-4 mb-md-0 mr-4">「系統打不開」的搜尋結果：共 43 筆資料，每頁顯示</div>
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="form-select mr-3">
                                    <option value="10">10</option>
                                    <option value="10">20</option>
                                    <option value="10">50</option>
                                </select>
                                <span>筆</span>
                        </div>
                    </div>
                    <!-- 最新討論 -->
                    <div class="col-12">
                        <div class="support-forum">
                            <a href="03_support_content.html" class="support-forum-content mb-4">
                                <h4 class="link-status-primary mb-2">SMARS 打不開</h4>
                                <p class="date">上次更新時間 2023 年 1 月 31 日</p>
                                <p class="body">您可以採取的動作. 如果您收到下列其中一項錯誤且無法開啟 Office，請依序嘗試下列操作：稍候幾分鐘，然後嘗試開啟一項 Office App。重新啟動您的電腦然後再次嘗試開啟 App。使用此簡易修正程式工具完整解除安裝 Office。解除安裝完成後再次</p>
                            </a>
                            <a href="03_support_content.html" class="support-forum-content mb-4">
                                <h4 class="link-status-primary mb-2">SMARS 打不開</h4>
                                <p class="date">上次更新時間 2023 年 1 月 31 日</p>
                                <p class="body">您可以採取的動作. 如果您收到下列其中一項錯誤且無法開啟 Office，請依序嘗試下列操作：稍候幾分鐘，然後嘗試開啟一項 Office App。重新啟動您的電腦然後再次嘗試開啟 App。使用此簡易修正程式工具完整解除安裝 Office。解除安裝完成後再次</p>
                            </a>
                            <a href="03_support_content.html" class="support-forum-content mb-4">
                                <h4 class="link-status-primary mb-2">SMARS 打不開</h4>
                                <p class="date">上次更新時間 2023 年 1 月 31 日</p>
                                <p class="body">您可以採取的動作. 如果您收到下列其中一項錯誤且無法開啟 Office，請依序嘗試下列操作：稍候幾分鐘，然後嘗試開啟一項 Office App。重新啟動您的電腦然後再次嘗試開啟 App。使用此簡易修正程式工具完整解除安裝 Office。解除安裝完成後再次</p>
                            </a>
                            <a href="03_support_content.html" class="support-forum-content mb-4">
                                <h4 class="link-status-primary mb-2">SMARS 打不開</h4>
                                <p class="date">上次更新時間 2023 年 1 月 31 日</p>
                                <p class="body">您可以採取的動作. 如果您收到下列其中一項錯誤且無法開啟 Office，請依序嘗試下列操作：稍候幾分鐘，然後嘗試開啟一項 Office App。重新啟動您的電腦然後再次嘗試開啟 App。使用此簡易修正程式工具完整解除安裝 Office。解除安裝完成後再次</p>
                            </a>
                            <a href="03_support_content.html" class="support-forum-content mb-4">
                                <h4 class="link-status-primary mb-2">SMARS 打不開</h4>
                                <p class="date">上次更新時間 2023 年 1 月 31 日</p>
                                <p class="body">您可以採取的動作. 如果您收到下列其中一項錯誤且無法開啟 Office，請依序嘗試下列操作：稍候幾分鐘，然後嘗試開啟一項 Office App。重新啟動您的電腦然後再次嘗試開啟 App。使用此簡易修正程式工具完整解除安裝 Office。解除安裝完成後再次</p>
                            </a>
                        </div>
                        <!-- pagination starts -->
                        <div id="pagination" class="pagination mt-3">
                            <button class="pagination-button" id="first-button" title="Previous page" aria-label="Previous page">
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                            <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                            <ul id="pagination-numbers" class="pagination-numbers">
                                <li class="number active">1</li>
                                <li class="number">2</li>
                                <li class="number">3</li>
                                <li class="number">4</li>
                                <li class="number">5</li>
                                <li class="number">6</li>
                            </ul>
                            <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                            <button class="pagination-button" id="last-button" title="Next page" aria-label="Next page">
                                <i class="fa-solid fa-angles-right"></i>
                            </button>
                        </div>
                        <!-- pagination ends -->
                    </div>
                    <!--  -->
                    <div class="col-12 mt-5">
                        <div class="question-block d-md-flex justify-content-between align-items-center">
                            <div class="fs-5 fw-bolder mb-4 mb-md-0">仍然無法解決產品相關的疑難雜症嗎？</div>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary mr-3">聯絡我們</a>
                                <a href="#" class="btn btn-secondary">我要報修</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
                
            </div>
        </div>
        <!--  -->
    </section>
    <!-- content ends -->
    <!-- footer starts -->
    <footer class="footer bg-gray-800" ng-include="'../footer_page.html'" ng-controller="footerController"></footer>
    <!-- footer ends -->
</body>
</html>