@mixin container {
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
        left: $grid-gutter-width;
        right: $grid-gutter-width;
    };
    position: relative;
    z-index: 1;
}