<!DOCTYPE html>
<html lang="zh-TW" ng-app="uixecureShopApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!-- angularjs -->
    <script src="assets/plugins/angular/angular.min.js"></script>
    <script defer src="assets/javascript/main.js"></script>
</head>
<body>
    <!-- header starts -->
    <header class="header bg-gray-800" ng-controller="headerController">
        <nav class="d-flex align-items-center">
            <div class="logo">
                <a href="index.html">
                    <img src="./assets/images/logo.png" alt="uixecure會員網logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="https://www.unixecure.com/tw/index" target="_blank">智慧資安入口網</a></li>
                    <!-- <li><a href="#">儀表板</a></li> -->
                    <li><a href="product/02_product_solutions.html">產品方案列表</a></li>
                    <li><a href="support/03_support.html">支援中心</a></li>
                    <li><a href="#" class="language-phone"><span class="mr-3" ng-click="languagePhoneToggle()">{{language[languageIndex]}}</span><i class="fa-solid fa-globe"></i></a>
                        <ul class="language-menu" ng-class="languagePhone ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="login.html" class="sign_up">登入/註冊</a></li>
                    <li class="d-lg-block d-none"><a href="#" class="btn language hide fa-solid fa-globe"></a>
                        <a href="#" class="btn language fa-solid fa-globe" ng-click="languageToggle()"></a>
                        <ul class="dropdown" ng-class="languageMenu ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                    <li class="d-block d-lg-none"><button type="button" class="btn bars"><i class="fa-solid fa-bars"></i></button></li>
                </ul>                
            </div>
        </nav>
    </header>
    <!-- header ends -->
    <!-- content starts -->
    <section class="content sign_up-content-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 sign_up-content p-4">                    
                    <div class="text-center">
                    <img src="assets/images/logo_blank.png" alt="uixecure logo">
                    </div>
                    <h3 class="text-center mb-3">註冊智慧資安</h3>                    
                    <form action="" class="form-container">
                        <p class="fs-6 mb-4">如無法順利點擊會員註冊驗證信的連結，可以透過本頁直接輸入驗證碼來啟用帳號：</p>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label for="" class="form-label">電子信箱 Email</label>
                                <input type="text" class="form-control requiredField" placeholder="請輸入電子信箱 Email">
                            </div>
                            <div class="col-md-6 mb-4">
                                <label for="" class="form-label">驗證信內提供之驗證碼</label>
                                <input type="text" class="form-control requiredField" placeholder="請輸入驗證信內提供之驗證碼">
                            </div>
                            <div class="col-12 mb-3">
                                <img src="./assets/images/reCAPTCHA v2 _checkbox.png" alt="">
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" disabled>啟用會員</button>
                                </div>                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--  -->
            <div class="row mt-5">
                <div class="col-12 sign_up-content p-4">
                    <form action="" class="form-container">
                        <p class="fs-6 mb-4">沒有收到會員驗證信時，您可以稍待片刻等待系統寄送（約一分鐘）或是檢查垃圾郵件等分類，仍然沒有收到的時候，您可以 <strong>重新寄送驗證信：</strong></p>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label for="" class="form-label">電子信箱 Email</label>
                                <input type="text" class="form-control requiredField" placeholder="請輸入電子信箱 Email">
                            </div>
                            <div class="col-12 mb-3">
                                <img src="./assets/images/reCAPTCHA v2 _checkbox.png" alt="">
                            </div>
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="login.html" class="btn-secondary"><i class="fa-sharp fa-solid fa-arrow-left"></i> 回前頁</a>
                                    <button type="button" class="btn btn-primary" disabled>重新寄送驗證信</button>
                                </div>                       
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </section>
    <!-- content ends -->
    <!-- footer starts -->
    <footer class="footer bg-gray-800" ng-include="'footer.html'" ng-controller="footerController"></footer>
    <!-- footer ends -->
</body>
</html>