<!DOCTYPE html>
<html lang="en" ng-app="uixecureShopApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘記密碼-unixecure會員登入網</title>
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!-- angularjs -->
    <script src="assets/plugins/angular/angular.min.js"></script>
    <script defer src="assets/javascript/main.js"></script>
</head>
<body>
    <!-- header starts -->
    <header class="header bg-gray-800" ng-controller="headerController">
        <nav class="d-flex align-items-center">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/logo.png" alt="uixecure會員網logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="https://www.unixecure.com/tw/index" target="_blank">智慧資安入口網</a></li>
                    <!-- <li><a href="#">儀表板</a></li> -->
                    <li><a href="product/02_product_solutions.html">產品方案列表</a></li>
                    <li><a href="support/03_support.html">支援中心</a></li>
                    <li><a href="#" class="language-phone"><span class="mr-3" ng-click="languagePhoneToggle()">{{language[languageIndex]}}</span><i class="fa-solid fa-globe"></i></a>
                        <ul class="language-menu" ng-class="languagePhone ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="login.html" class="sign_up">登入/註冊</a></li>
                    <li class="d-lg-block d-none"><a href="#" class="btn language hide fa-solid fa-globe"></a>
                        <a href="#" class="btn language fa-solid fa-globe" ng-click="languageToggle()"></a>
                        <ul class="dropdown" ng-class="languageMenu ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                    <li class="d-block d-lg-none"><button type="button" class="btn bars"><i class="fa-solid fa-bars"></i></button></li>
                </ul>                
            </div>
        </nav>
    </header>
    <!-- header ends -->
    <!-- content starts -->
    <section class="content sign_up-content-bg">
        <div class="container-sm">
            <div class="row">
                <div class="col-12 login p-4">                    
                    <div class="text-center">
                        <img src="assets/images/logo_blank.png" alt="uixecure logo">
                    </div>
                    <h3 class="text-center">重設密碼</h3>
                    <p class="text-center my-5">已寄送密碼變更信至信箱 aimigio@unixecure.com<br />開信後使用新密碼登入即可變更</p>
                    <div class="text-center">
                        <a href="index.html" class="btn btn-primary d-sm-inline-block d-block">回登入頁</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content ends -->
    <!-- footer starts -->
    <footer class="footer bg-gray-800" ng-include="'footer.html'" ng-controller="footerController"></footer>
    <!-- footer ends -->
</body>
</html>