<!DOCTYPE html>
<html lang="en" ng-app="uixecureShopApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uixecure會員入口網</title>
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!-- angularjs -->
    <script src="assets/plugins/angular/angular.min.js"></script>
    <script src="assets/javascript/main.js"></script>
</head>
<body>
    <!-- header starts -->
    <header class="header bg-gray-800" ng-controller="headerController">
        <nav class="d-flex align-items-center">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/logo.png" alt="uixecure會員網logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="https://www.unixecure.com/tw/index" target="_blank">智慧資安入口網</a></li>
                    <!-- <li><a href="#">儀表板</a></li> -->
                    <li><a href="product/02_product_solutions.html">產品方案列表</a></li>
                    <li><a href="support/03_support.html">支援中心</a></li>
                    <li><a href="#" class="language-phone"><span class="mr-3" ng-click="languagePhoneToggle()">{{language[languageIndex]}}</span><i class="fa-solid fa-globe"></i></a>
                        <ul class="language-menu" ng-class="languagePhone ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="login.html" class="sign_up">登入/註冊</a></li>
                    <li class="d-lg-block d-none"><a href="#" class="btn language hide fa-solid fa-globe"></a>
                        <a href="#" class="btn language fa-solid fa-globe" ng-click="languageToggle()"></a>
                        <ul class="dropdown" ng-class="languageMenu ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                    <li class="d-block d-lg-none"><button type="button" class="btn bars"><i class="fa-solid fa-bars"></i></button></li>
                </ul>                
            </div>
        </nav>
    </header>
    <!-- header ends -->
    <!-- content starts -->
    <section class="content bg-gray-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="member-content-container p-4">
                        <h1 class="text-center mb-4">會員註冊條款</h1>
                        <article class="servicepolicy">
                            <ol class="list-unstyled fs-6">
                                <li class="mb-5">
                                    <h3>一、認知與接受條款</h3>
                                    <ol class="list-style-type-decimal mt-4">
                                        <li>本會員註冊條款所稱之「會員」，為依照本平台所定之會員註冊程序加入完成並通過認證者。當會員完成本公司之註冊程序時，即表示已閱讀、瞭解並同意接受本註冊條款之所有內容，並完全接受本平台現有服務與未來衍生的服務項目及內容。本公司有權於任何時間修改或變更本註冊條款之內容，修改後的註冊條款內容將不定期更新於本平台，本公司將不會個別通知會員，建議會員隨時注意該等修改或變更。會員於任何修改或變更後繼續使用本平台時，視為會員已閱讀、瞭解並同意接受該等修改或變更。若不同意上述的註冊條款修訂或更新方式，或不接受本註冊條款的其他任一約定，或者會員所屬的國家或地域排除本註冊條款內容之全部或一部時，會員應立即停止使用本平台。本平台並保留有審核加入會員資格之權利，另外已加入會員者，本平台亦保留有解除其會員資格之權利。</li>
                                        <li>若會員為未滿二十歲之未成年人，應於會員的家長（或監護人）閱讀、瞭解並同意本註冊條款之所有內容及其後修改變更後，方得註冊為會員、使用或繼續使用本平台。當會員使用或繼續使用本平台時，即推定會員的家長（或監護人）已閱讀、瞭解並同意接受本註冊條款之所有內容及其後修改變更。</li>
                                        <li>會員及本公司，雙方同意使用本平台之所有內容包括意思表示等，以電子文件作為表示方式，可通過重要頁面公告、電子郵件或常規的信件傳送等方式進行；該等通知於發送之日視為已送達收件人。</li>
                                        <li>為了確保會員之個人資料、隱私及消費者權益之保護，於本平台過程中將使用會員所登錄之個人資料，謹依個人資料保護法第8條規定告知以下事項：
                                            <ul class="list-style-type-disc">
                                                <li>蒐集之目的：蒐集之目的在於進行資訊搜尋統計管理、行銷業務、消費者、客戶管理與服務、電子商務服務、及調查、統計與研究分析。本公司將藉由加入會員之過程或進行交易之過程來蒐集個人資料。</li>
                                                <li>蒐集之個人資料類別：本公司於網站內蒐集的個人資料包括，
                                                    <ol class="list-style-type-lower-latin">
                                                        <li>C001辨識個人者： 如會員之姓名、地址、電話、電子郵件等資訊。 </li>
                                                        <li>C002辨識財務者： 如信用卡或金融機構帳戶資訊。</li>
                                                        <li>C011個人描述：例如：性別、出生年月日等。</li>
                                                    </ol>
                                                </li>
                                                <li>利用期間、地區、對象及方式： 
                                                    <ol class="list-style-type-lower-latin">
                                                        <li>期間：會員當事人要求停止使用或本公司停止提供服務之日為止。 </li>
                                                        <li>地區：會員之個人資料將使用於台灣地區。</li>
                                                        <li>利用對象及方式：會員之個人資料蒐集除用於本公司之會員管理、之檢索查詢等功能外，亦將利用於辨識身份、金流服務、行銷廣宣等。例示如下：</li>
                                                        <ol class="list-style-type-lower-roman">
                                                            <li>以會員身份使用本公司提供之各項服務時，於頁面中自動顯示會員資訊。</li>
                                                            <li>會員對參與贈獎等之活動或從事其他交易時，關於回覆客戶之詢問、本公司對會員之詢問、相關售後服務及其他所必要之業務。</li>
                                                            <li>宣傳廣告或行銷等：提供會員各種電子雜誌等資訊、透過電子郵件、郵件、電話等提供與服務有關之資訊。將會員所瀏覽之內容或廣告，依客戶之個人屬性或於本公司網站之相關紀錄等項目，進行個人化作業、會員使用服務之分析、新服務之開發或既有服務之改善等。針對民調、活動、留言版等之意見，或其他服務關聯事項，與會員進行聯繫。</li>
                                                            <li>回覆客戶之詢問：針對會員透過電子郵件、郵件、傳真、電話或其他任何直接間接連絡方式向本公司所提出之詢問進行回覆。</li>
                                                            <li>其他業務附隨之事項：附隨於上述i.至iv.之利用目的而為本公司提供服務所必要之使用。</li>
                                                            <li>對於各別服務提供者之資訊提供：會員對服務提供者之參加贈獎活動或申請其他交易時，本公司於該交易所必要之範圍內，得將會員之個人資料檔案提供予服務提供者，並由服務提供者負責管理該個人資料檔案。本公司將要求服務提供者依保障會員隱私權之原則處理個人資料之義務，但無法保證服務提供者會必然遵守。詳細內容，請向各別服務提供者洽詢。</li>
                                                            <li>其他：提供個別服務時，亦可能於上述規定之目的以外，利用個人資料。此時將在該個別服務之網頁載明其要旨。</li>
                                                        </ol>
                                                    </ol>
                                                </li>
                                                <li>會員就個人資料之權利：本公司所蒐集個人資料之當事人，依個人資料保護法得對本公司行使以下權利：
                                                    <ol class="list-style-type-lower-latin">
                                                        <li>查詢或請求閱覽。 </li>
                                                        <li>請求製給複製本。 </li>
                                                        <li>請求補充或更正。</li>
                                                        <li>請求停止蒐集、處理或利用。</li>
                                                        <li>請求刪除。會員如欲行使上述權利，可與本公司客服連絡進行申請。</li>
                                                    </ol>
                                                </li>
                                                <li>請注意！如拒絕提供加入會員所需必要之資料，將可能導致無法享受本平台完整服務或完全無法使用本平台服務。</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </li>
                                <li class="mb-5">
                                    <h3>二、會員義務 </h3>
                                    <p class="fs-6 mt-4">為了能使用本平台，會員同意以下事項：</p>
                                    <ol class="list-style-type-decimal">
                                        <li>依本平台註冊程序之提示提供會員本人正確、最新的資料，且不得以第三人之名義註冊為會員。每位會員僅能註冊登錄一個帳號，不可重覆註冊登錄。</li>
                                        <li>即時維持並更新會員個人資料，確保其正確性，以獲取最佳之服務。</li>
                                        <li>若會員提供任何錯誤或不實的資料、或未按指示提供資料、或欠缺必要之資料、或有重覆註冊帳號等情事時，本公司有權不經事先通知，逕行暫停或終止會員的帳號，並拒絕會員使用本平台之全部或一部。</li>
                                    </ol>
                                </li>
                                <li class="mb-5">
                                    <h3>三、會員資格</h3>
                                    <ol class="list-style-type-decimal mt-4">
                                        <li>本平台可能提供多種會員資格方案，部分會員資格方案可能具有不同的條件與限制，有關條件與限制的資訊會在會員註冊時或向會員提供的其他通知中揭露。會員得至本平台進行相關會員資格之確認。</li>
                                        <li>若會員擬不使用本平台或會員長達二年以上未登入本平台且未有訂閱中之商品/服務，則本公司得停止提供本平台並刪除會員帳號，且本公司並無保留帳號與相關資訊及資料之義務。</li>
                                        <li>會員得就本平台所提供之商品/服務進行訂閱，於依本平台之訂閱程序完成訂閱後，即表示已閱讀、瞭解並同意接受商品/服務條款之所有內容，並完全接受現有服務與未來衍生的服務項目及內容。</li>
                                    </ol>
                                </li>
                                <li class="mb-5">
                                    <h3>四、隱私權政策 </h3>                                    
                                    <ol class="list-style-type-decimal mt-4">
                                        <li>關於會員於註冊時所提供之相關資料以及其他特定資料依本平台上之「隱私權政策」受到保護與規範，請為詳閱。</li>
                                        <li>為了完成交易或使會員使用本平台，本平台可能將會員的相關資料提供給本平台交易過程或服務提供過程中的相關服務提供者或本平台之合作夥伴，例如銀行或信用卡組織、以及本公司關於本平台的合作夥伴等。若不願意將個人資料揭露給本平台的相關服務提供者或其他合作夥伴，可以選擇不註冊或使用本平台，如果會員註冊本平台、或繼續使用本平台，本公司可將會員的個人資料揭露給本平台的相關服務提供者或其他合作夥伴。此外，依照相關法令規定或政府機關之要求，本平台可將會員的個人資料、通訊資料及交易紀錄，提供給有權機關，包括且不限於治安機關。</li>
                                        <li>若會員於使用本平台時，係有匯出相關個人資料或其他資料，則會員應依個人資料保護法或相關法令之規定及相關限制進行資料之妥善保管、處理及利用，如有違反應自行負擔因違反個人資料保護法及相關法令之責任。</li>
                                    </ol>
                                </li>
                                <li class="mb-5">
                                    <h3>五、會員帳號、密碼及安全</h3>
                                    <ol class="list-style-type-decimal mt-4">
                                        <li>會員應依本公司/本平台之程序完成帳戶/帳號之註冊及本平台之註冊，且完成本平台的註冊程序之後，會員將取得一個特定之密碼及會員帳號，維持密碼及帳號之機密安全，是會員的責任。任何依照規定方法輸入會員帳號及密碼與登入資料一致時，無論是否由本人親自輸入，均將推定為會員本人所使用，利用該密碼及帳號所進行的一切行動，會員本人應負完全責任。</li>
                                        <li>會員同意以下事項：
                                            <ul class="list-style-type-disc">
                                                <li>會員的密碼或帳號遭到盜用或有其他任何安全問題發生時，會員將立即通知本公司。</li>
                                                <li>每次連線完畢，均正常結束及登出會員的帳號之使用。</li>
                                                <li>會員的帳號、密碼及會員權益均僅供會員個人使用及享有，不得轉借、轉讓他人或與他人合用。</li>
                                                <li>帳號及密碼遭誤用、濫用、侵入、盜用、不當使用或其他本公司無法辯識是否為本人親自使用之情事時，除證明係因可歸責於本公司之事由所致者外，本公司就前述情事所致之損失不負任何責任。</li>
                                                <li>本公司若知悉會員之帳號密碼確係遭他人冒用時，將立即暫停該帳號之使用（含該帳號所生交易之處理）。</li>
                                                <li>會員應就會員帳號及密碼妥為保管之，且應經常不定時更新密碼，以避免遭受第三人或駭客攻擊、誤用、 濫用、盜用、侵入等相關情況。</li>
                                            </ul>
                                        </li>
                                    </ol>
                                    <li class="mb-5">
                                        <h3>六、兒童及青少年之保護 </h3>
                                        <p class="fs-6 mt-4">為確保兒童及青少年使用網路的安全，並避免隱私權受到侵犯，家長（或監護人）應盡到下列義務： 未滿十二歲之兒童使用本平台時時，應全程在旁陪伴，十二歲以上未滿十八歲之青少年使用本平台前亦應斟酌是否給予同意。</p>
                                    </li>
                                    <li class="mb-5">
                                        <h3>七、會員的守法義務及承諾</h3>
                                        <p class="fs-6 mt-4">會員承諾絕不為任何非法目的或以任何非法方式使用本平台，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若係中華民國以外之會員，並同意遵守本公司所屬國家或地域之法令及會員所在國家或地域之法令。會員同意並保證不得利用本平台從事侵害他人權益或違法之行為，包括但不限於：</p>
                                        <ul class="list-style-type-disc">
                                            <li>公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案</li>
                                            <li>侵害或毀損本公司或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利</li>
                                            <li>違反依法律或契約所應負之保密義務</li>
                                            <li>冒用他人名義使用本平台</li>
                                            <li>傳輸或散佈電腦病毒</li>
                                            <li>從事未經本公司事前授權的商業行為</li>
                                            <li>刊載、傳輸、發送垃圾郵件、連鎖信、違法或未經本公司許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料</li>
                                            <li>對本平台其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為</li>
                                            <li>其他不符本平台所提供的使用目的之行為或本公司有正當理由認為不適當之行為</li>
                                        </ul>
                                    </li>
                                    <li class="mb-5">
                                        <h3>八、平台內容之變更與電子報及EDM發送</h3>
                                        <ol class="list-style-type-decimal mt-4">
                                            <li>會員同意本公司均得視業務需要及實際情形，不定期增減、變更、終止本平台相關商品/服務之提供包括但不限於服務項目或內容，本公司並將另行通知或於本平台上進行公告。</li>
                                            <li>會員同意本公司得依實際執行情形，增加、修改或終止相關行銷活動，並選擇最適方式告知會員。</li>
                                            <li>會員同意本公司得不定期發送電子報或商品訊息（EDM）至會員所登錄的電子信箱帳號。當會員收到訊息後表示拒絕接受行銷時，本公司將停止繼續發送行銷訊息。</li>
                                        </ol>
                                    </li>
                                    <li class="mb-5">
                                        <h3>九、服務之停止、終止、中斷 </h3>
                                        <ol class="list-style-type-decimal mt-4">
                                            <li>本公司將依一般合理之技術及方式，維持本平台之系統及本平台之正常運作。但於以下各項情況時，本公司有權可以停止、終止、中斷提供本平台：
                                                <ul class="list-style-type-disc">
                                                    <li>本平台執行系統維護或相關設備進行必要之維修、保養或為更換或為遷移時。</li>
                                                    <li>發生突發性之系統、設備或網路故障或任何異常之情事時。</li>
                                                    <li>本平台之電子通信服務被停止，或有其他無法提供服務時之情事。</li>
                                                    <li>為確保會員或第三人之安全，或於緊急情況下為維護公眾利益時。</li>
                                                    <li>因天災等不可抗力之因素或其他不可歸責於本公司之事由致使本平台無法提供服務時</li>
                                                </ul>
                                            </li>
                                            <li>若因可歸責於本公司之事由致本服務有停止、終止或中斷等情事(以下簡稱停止服務)，則使用者得向本公司提出以相當於停止服務期間之天數而延長本服務期間之要求，本公司得經評估後進行前述天數之延長。</li>
                                        </ol>
                                    </li>
                                </li>
                                <li class="mb-5">
                                    <h3>十、責任之限制與排除</h3>
                                    <ol class="list-style-type-decimal mt-4">
                                        <li>本平台所提供之各項功能，均依該功能當時之現況提供使用，本公司對於其效能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。</li>
                                        <li>本公司並不保證本平台之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，本公司不負賠償責任。</li>
                                        <li>本平台所提供之所有資訊及其相關任何功能目的僅為提供資訊及管理，透過本平台獲得之資料僅作為參考，非供會員之其他建議，若會員用於任何其他用途，會員者須自負風險，本公司不負任何責任。</li>
                                        <li>本平台內容僅為提供資訊及管理，本平台及資訊提供者對於所有經由本平台傳送之資訊之正確性與適用性均不負擔任何責任，並不保證所有資訊之準確，對於任何不準確或錯漏而引致之任何損失，本公司均不負任何賠償責任。</li>
                                        <li>於使用本平台時，可能會接收到部分廣告訊息（包括任何從本平台連結、下載或直接於本平台所獲得）。所有的廣告資訊或內容均係由廣告主或廠商所提供，對於廣告內容的真偽、可信度或其所涉及之建議，須自行判斷，本公司並不保證其內容之正確性及或可靠性。</li>
                                        <li>本平台所提供的所有服務，對於因技術錯誤或資料刪除後的損失，本公司均不負任何責任。</li>
                                        <li>本平台可能會連結搜尋引擎服務或其他網站，僅在提供會員方便且連結或迅速查詢到會員想要的資訊，會員所查到的資料係由搜尋引擎或其他連結網站所提供之資料，然搜尋引擎或其他連結網站非屬本公司或本平台之負責或控制範圍，如因該隱搜尋引擎或其他連結網站而產生之糾紛或損害，本公司不負任何責任。</li>
                                        <li>會員就其內部之設備，應注意並配合設備所屬軟硬體原廠之通知進行軟、硬體之安全性更新，如因會員未與時俱進提升自身之資安防護或安全性更新，或非因本平台之提供或非因本公司之故意或過失所致會員遭受資安攻擊而生損害者，本公司無須負損害賠償責任。</li>
                                        <li>本公司僅就會員因使用本平台所致之直接損害負賠償責任，賠償金額以會員所實際已支付予本公司金額之百分之二十為限，且會員確認並知悉本公司就會員因使用本平台所致之間接損失或營業利益等不負賠償責任。</li>
                                    </ol>
                                </li>
                                <li class="mb-5">
                                    <h3>十一、智慧財產權的保護 </h3>
                                    <ol class="list-style-type-decimal mt-4">
                                        <li>本公司及本平台所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若會員欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意。尊重智慧財產權是會員應盡的義務，如有違反，會員應對本公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。</li>
                                        <li>在尊重他人智慧財產權之原則下，會員同意在使用本公司之服務時，不作侵害他人智慧財產權之行為。</li>
                                        <li>若會員有涉及侵權之情事，本公司可暫停全部或部份之服務，或逕自以取消會員帳號之方式處理。</li>
                                        <li>若有發現智慧財產權遭侵害之情事，請將所遭侵權之情形及聯絡方式，並附具真實陳述及擁有合法智慧財產權之聲明，與本公司聯絡。</li>
                                    </ol>
                                </li>
                                <li class="mb-5">
                                    <h3>十二、會員對本公司之授權</h3>
                                    <p class="fs-6 mt-4">對於會員上載、傳送、輸入或提供之資料，會員同意本平台得於合理之範圍內蒐集、處理、保存、傳遞及使用該等資料，並得記錄會員連線的位址及相關網站內的瀏覽活動資料，或進行數據統計分析、進行關於網站流量分析網路行為之調查或研究，或為任何之合法使用。 任何資料一經會員上載、傳送、輸入或提供至本公司時，視為會員已允許本公司無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，並得將前述權利轉授權他人，會員對此絕無異議。會員並應保證本公司使用、修改、重製、公開播送、改作、散布、發行、公開發表、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對本公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。</p>
                                </li>
                                <li class="mb-5">
                                    <h3>十三、拒絕或終止會員的使用</h3>
                                    <p class="fs-6 mt-4">會員同意本公司得基於維護交易安全之考量，得因任何理由，包括但不限於缺乏使用，或違反本註冊條款的明文規定及精神，終止會員的密碼、帳號（或其任何部分）或本平台（或其任何部分）之使用，或得因任何理由將本平台內任何「會員內容」加以移除並刪除。此外，會員同意若本平台（或其任何部分）之使用被終止，本公司對會員或任何第三人均不承擔責任。</p>
                                </li>
                                <li>
                                    <h3>十四、準據法與管轄法院 </h3>
                                    <p class="fs-6 mt-4">本註冊條款之解釋與適用，以及與本註冊條款有關或會員與本公司間所生之爭議或糾紛，應依照中華民國法律予以處理，並以臺灣臺北地方法院為第一審管轄法院，但若法律對於管轄法院另有強制規定者，仍應依其規定。</p>
                                </li>
                            </ol>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content ends -->
    <!-- footer starts -->
    <footer class="footer bg-gray-800" ng-include="'footer.html'" ng-controller="footerController"></footer>
    <!-- footer ends -->
</body>
</html>