.border {
	border: $border-width solid var(--block);
}
.border-top {
    border-top: 1px solid var(--gray-200);
}
.border-bottom {
    border-bottom: 1px solid var(--gray-200);
}
.rounded-0 {
    border-radius: 0 !important;
}
.rounded-1 {
    border-radius: 10px !important;
}
.rotate-90 {
	transform: rotate(90deg);
}