.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    // margin-bottom: 1rem;
    list-style: none;
    .breadcrumb-item {        
        position: relative;
        padding-right: 8px;        
        a {
            color: var(--gray-800);
            transition: var(--base-transition);
            &:hover {
                color: var(--gray-800);
            }
        }
        &.active {
            color: var(--primary-200);
        }
        & + .breadcrumb-item::before {
            float: left;
            padding-right: 0.5rem;
            color: var(--gray-500);
            content: var(--bs-breadcrumb-divider, "/");

        }
    }
}


