.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: var(--gray-800);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.btn-primary {
    background-image: linear-gradient(to right, #3C49BA , #848DD7);
    color: var(--white) !important;
    padding: 10px 21px;
    transition: var(--base-transition);
    &:hover {
        color: var(--white) !important;
        text-decoration: none !important;
        background-image: linear-gradient(to right, var(--primary-600) , #5E69CB);
        box-shadow: var(--base-btn-box-shadow);
    }
}
.btn-fill-primary-200 {
    background-color: var(--primary-200);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 2px;
    transition: var(--transparent);
    font-size: toRem(16px);
    &:hover {
        background-color: var(--primary);
    }
}
.btn-fill-primary {
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 2px;
    transition: var(--transparent);
    font-size: toRem(16px);
    &:hover {
        background-color: var(--primary-700);
    }
}
.btn-fill-orangered-sm {
    background-color: var(--orangered);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 2px;
    transition: var(--transparent);
    font-size: toRem(14px);
    &:hover {
        background-color: darken($orangered, 5%)
    }
}
.btn-fill-orangered {
    background-color: var(--orangered);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 2px;
    transition: var(--transparent);
    font-size: toRem(16px);
    &:hover {
        background-color: darken($orangered, 5%)
    }
}
.btn-account-deletion {
    background-color: $btn-account-deletion;
    color: var(--white);
    padding: 12px 20px;
    border-radius: 2px;
    transition: var(--transparent);
    font-size: toRem(16px);
    &:hover {
        background-color: darken($btn-account-deletion, 5%)
    }
}