.product-card {
    height: 100%;
    .product-card-body {
        background-color: var(--white);
        padding: {
            top: 26px;
            bottom: 26px;
            left: 32px;
            right: 32px;
        }
        box-shadow: var(--base-box-shadow);
        > h3 {
            height: 72px;
        }
        dl {
            > dt {
                font-weight: $font-weight-bold;
                white-space: nowrap;
            }
        }
        .product-card-body-number {
            font-size: toRem(20px);
            button {
                width: 56px;
                height: 56px;
                background-color: var(--white);
                border: 1px solid var(--gray-200);
                color: var(--gray-400);
                &:disabled {
                    background-color: var(--gray-100);
                }
            }
            .product-number {
                margin: {
                    left: 8px;
                    right: 8px;
                }
                input {
                    width: 100%;
                    height: 56px;
                    border: 1px solid var(--gray-200);
                    padding: {
                        left: 20px;
                        right: 20px;
                    };
                }
            }
        }
    }
    .product-card-btn {
        background-color: var(--primary);
        color: var(--white);
        display: block;
        width: 100%;
        font-size: toRem(16px);
        padding: 17px 0;
        transition: var(--base-transition);
        &:hover {
            background-color: var(--primary-800);
        }
        i {
            margin-left: 12px;
        }
    }
}
