.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    & > * {
        padding: {
            left: $grid-gutter-width;
            right: $grid-gutter-width;
        };
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
    & > col, & > [class^="col-"] {
        padding: {
            left: $grid-gutter-width;
            right: $grid-gutter-width;
        };
    }
}
// grid

@each $key, $value in $grid-breakpoints {
    @if not $value {
        @for $var from 1 through $grid-columns {
            .col-#{$var} {
                max-width: calc(100% * ($var / $grid-columns));
                flex: 0 0 calc(100% * ($var / $grid-columns));
            }
        }
        .col {
            flex: 1 0 0%;
        }
        .col-auto {
            flex: 0 0 auto;
            width: auto;
        }
    } @else {
        @media screen and (min-width: $value) {
            @for $var from 1 through $grid-columns {
                .col-#{$key}-#{$var} {
                    max-width: calc(100% * ($var / $grid-columns));
                    flex: 0 0 calc(100% * ($var / $grid-columns));
                }
            }
            .col-#{$key} {
                flex: 1 0 0%;
            }
            .col-#{$key}-auto {
                flex: 0 0 auto;
                width: auto;
            }
        }
    }
}

// no-gutters
.no-gutters {
	margin-left: 0;
	margin-right: 0;	
	> [class*='col-'] {
		padding-left: 0;
		padding-right: 0;
	}
}

// grid 
.grid {
    display: grid;
	grid-template-columns: repeat($grid-columns, 1fr);
    gap: 10px;
}
@each $key, $value in $grid-breakpoints {
    @if not $value {
        @for $var from 1 through $grid-columns {
            .g-#{$var} {
                grid-column: auto/span $var;
            }
        }
    } @else {
        @media screen and (min-width: $value) {
            @for $var from 1 through $grid-columns {
                .g-#{$key}-#{$var} {
                    grid-column: auto/span $var;
                }
            }
        }
    }
}