.header {
    height: 60px;
    width: 100%;
    padding-right: 46px;
    > nav {
        height: 100%;
    }
    .logo {
        margin-left: 40px;
        margin-right: 40px;
        img {
            width: 114px;
        }        
    }
}
.sign-in {
    a:not(:first-child) {
        font-size: toRem(16px);
    }
}