.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: {
        left: 40px;
        right: 40px;
    };   
    z-index: 999;
    > nav {
        height: 100%;
    }
    .logo {
        margin-right: 40px;
        img {
            width: 114px;
        }        
    }
}
.sign-in {
    a:not(:first-child) {
        font-size: toRem(16px);
    }
}
@include media-breakpoint-down(md) {
    .header {
        padding: {
            left: 24px;
            right: 24px;
        };
    }
}