.navbar {
    width: 100%;
    > ul {
        list-style: none;
        display: flex;          
        > li {
            padding-right: 60px;
            &:last-child {
                padding-right: 0;
            }
            a {
                color: var(--gray-200);
                &:hover {
                    color: var(--primary-400);
                }
            }
            &.active {
                a {
                    color: var(--primary-400);
                }
            }
        }  
    }
}