.pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--white); 
    > .pagination-button, ul.pagination-numbers > li.number {
        cursor: pointer;
        font-size: toRem(14px);
        padding: 4px 10px;
        border-radius: var(--base-border-radius);
        transition: var(--base-transition);
        background-color: var(--white);
        font-weight: $font-weight-bold;
        &:hover {
            background-color: rgba($gray-400, 0.2);
        }
    }
    > .pagination-button {
        border: none;
        box-shadow: none;
        outline: none;
        
    }
    ul.pagination-numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        > li.number {
            list-style: none;            
            &.active {
                background-color: rgba($gray-400, 0.2);
            }
        }
    }    
}