.support {
    padding-top: 60px;
}
.support-header {
    background-color: var(--secondary-300);
    padding: {
        top: 24px;
        bottom: 32px;
    };
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        display: block;
        width: 322px;
        height: 322px;
        border-radius: 50%;
        opacity: 0.5;
        background-color: var(--alarm);
        filter: blur(137px);
        position: absolute;
        bottom: -10px;
        right: -30px;
    }
}
.support-search {
    position: relative;
    > i {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}
#search {
    width: 100%;
    font-size: toRem(16px);
    padding: {
        top: 12px;
        bottom: 12px;
        left: 36px;
    };
}
.support-block {
    border-radius: 18px;
    padding: {
        left: 24px;
        right: 24px;
    };
    &.moc {
        background-color: var(--primary);
    }
    &.sivas {
        background-color: #ED7359;
    }
    &.heis {
        background-color: #5CB74D;
    }
}
.support-content {
    padding: {
        top: 32px;
    };
    article {
        font-size: toRem(16px);
        > ol {
            padding-left: 16px;
        }
    }
}
.support-heading-list {
    list-style: none;
    > li {
        
        padding: {
            top: 12px;
            bottom: 12px;
        };
        > a {
            color: $status-primary;
            font-size: toRem(20px);
            font-weight: $font-weight-bold;
        }
    }
}
.support-forum-content {
    > .date {
        color: var(--gray-500);
        font-size: toRem(16px);
    }
    > .body {
        color: var(--gray-800);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; 
        font-size: toRem(16px);
    }
}
.question-block {
    background-color: var(--gray-50);
    padding: {
        top: 24px;
        bottom: 24px;
        left: 40px;
        right: 40px;
    };
}
.support-content-bg {
    background-color: var(--secondary-300);
    padding-top: 60px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        display: block;
        width: 322px;
        height: 322px;
        border-radius: 50%;
        opacity: 0.5;
        background-color: var(--alarm);
        filter: blur(97px);
        position: absolute;
        top: 40px;
        right: -20px;
    }
}