<!DOCTYPE html>
<html lang="zh-TW" ng-app="uixecureShopApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uixecure會員入口網</title>
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <!-- angularjs -->
    <script src="../assets/plugins/angular/angular.min.js"></script>
    <script src="../assets/javascript/main.js"></script>
</head>
<body>
    <!-- header starts -->
    <header class="header bg-gray-800" ng-controller="headerController">
        <nav class="d-flex align-items-center">
            <div class="logo">
                <a href="../index_login.html">
                    <img src="../assets/images/logo.png" alt="uixecure會員網logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="https://www.unixecure.com/tw/index" target="_blank">智慧資安入口網</a></li>
                    <li><a href="#">儀表板</a></li>
                    <li><a href="product_solutions.html">產品方案列表</a></li>
                    <li><a href="support-center.html">支援中心</a></li>
                    <li class="d-block d-lg-none">
                        <a href="#" class="btn-member member ml-4" ng-click="memberPhoneToggle()"><i class="fa-solid fa-user"></i> 會員中心</a>
                        <ul class="dropdown member-dropdown hide" ng-class="memberPhone ? 'show' : 'hide'">
                            <li><a href="04_member.html" class="active">使用服務列表</a></li>
                            <li><a href="04_member_edit.html">會員資料修改</a></li>
                            <li><a href="04_security_settings.html">安全性設定</a></li>
                            <li><a href="04_purchase_history.html">購買記錄</a></li>
                            <li><a href="04_repair_service.html">報修服務</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="language-phone"><span class="mr-3" ng-click="languagePhoneToggle()">{{language[languageIndex]}}</span><i class="fa-solid fa-globe"></i></a>
                        <ul class="language-menu" ng-class="languagePhone ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="d-flex align-items-center">
                    <li class="d-none d-lg-block">
                        <a href="#" class="btn-member member" ng-click="memberToggle()"><i class="fa-solid fa-user"></i> 會員中心</a>
                        <ul class="dropdown member-dropdown hide" ng-class="memberMenu ? 'show' : 'hide'">
                            <li><a href="04_member.html" class="active">使用服務列表</a></li>
                            <li><a href="04_member_edit.html">會員資料修改</a></li>
                            <li><a href="04_security_settings.html">安全性設定</a></li>
                            <li><a href="04_purchase_history.html">購買記錄</a></li>
                            <li><a href="04_repair_service.html">報修服務</a></li>
                        </ul>
                    </li>
                    <li><a href="../shopping/05_shopping_list.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <li class="d-lg-block d-none"><a href="#" class="btn language hide fa-solid fa-globe"></a>
                        <a href="#" class="btn language fa-solid fa-globe" ng-click="languageToggle()"></a>
                        <ul class="dropdown" ng-class="languageMenu ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                    <li class="d-block d-lg-none"><button type="button" class="btn bars"><i class="fa-solid fa-bars"></i></button></li>
                </ul>                
            </div>
        </nav>
    </header>
    <!-- header ends -->
    <!-- content starts -->
    <section class="member-content-header bg-gray-700 ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="04_member.html">會員中心</a></li>
                        <li class="breadcrumb-item"><a href="04_security_settings.html">安全性設定</a></li>
                        <li class="breadcrumb-item active">申請帳號刪除</li>
                    </ul>
                    <h1 class="text-white">申請帳號刪除</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content bg-gray-100">
        <div class="container-md">
            <div class="row">
                <div class="col-12">
                    <div class="member-content-container p-4">
                        <article class="statement-block mb-3">
                            <h3 class="text-center mb-3">帳號刪除聲明</h3>
                            <p class="mb-4 lh-lg">當您選取 結帳 進入交易流程，表示已同意 智慧資安科技股份有限公司 的 隱私權政策 及 服務條款 ，我們將在每年合約到期前 2 個月通知您下一年度的續約費用。每次付款當日開始計算 10 日內皆可取消訂單，第 11 日將不再接受退款。</p>
                            <h4 class="mb-3">購物須知</h4>
                            <ol class="list-style-type-decimal mb-4">
                                <li>為了避免影響您的權益，在申請刪除 智慧資安科技股份有限公司 購物會員帳號前，請先確認您是否仍有尚未完成交易，或是尚未退款完成的訂單。</li>
                                <li>當智慧資安科技股份有限公司 購物會員帳號刪除後，尚有服務合約的商品將不再繼續提供服務及退貨退款，也無法再使用 智慧資安科技股份有限公司 提供的線上購買服務以及訂閱電子報功能，亦無法由此取得電子發票資料。</li>
                                <li>您理解當您的 智慧資安科技股份有限公司 購物會員帳號刪除後，智慧資安科技股份有限公司 將無法再通知您服務資訊，您同意放棄相關權益並不得向 智慧資安科技股份有限公司 請求任何賠償。</li>
                                <li>當您的 智慧資安科技股份有限公司 購物會員帳號刪除後，該被刪除之同一會員帳號無法再次申請成為 智慧資安科技股份有限公司 購物會員，亦無法復原。若您有使用 智慧資安科技股份有限公司 購物服務的需求，請以其他方式另外註冊會員帳號。</li>
                                <li>因財務稽核目的，當刪除 智慧資安科技股份有限公司 購物會員帳號後，智慧資安科技股份有限公司 仍將保留您的交易資料。</li>
                                <li>若您對刪除 智慧資安科技股份有限公司 購物會員帳號有任何問題，請與服務台聯絡<a href="mailto:servicedesk@unixecure.com.tw">servicedesk@unixecure.com.tw</a>。</li>
                            </ol>
                        </article>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="我同意刪除帳號個資聲明" id="assent-option">
                            <label class="form-check-label" for="assent-option">我同意刪除帳號個資聲明</label>
                            <span class="text-alarm">*</span>
                        </div>    
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="reploay-link"><i class="fa-sharp fa-solid fa-arrow-left"></i> 回前頁</a>
                            <button type="button" class="btn btn-account-deletion">申請帳號刪除</button>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content ends -->
    <!-- footer starts -->
    <footer class="footer bg-gray-800" ng-include="'../footer_page.html'" ng-controller="footerController"></footer>
    <!-- footer ends -->
</body>
</html>