<!DOCTYPE html>
<html lang="en" ng-app="uixecureShopApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uixecure會員入口網</title>
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <!-- angularjs -->
    <script src="../assets/plugins/angular/angular.min.js"></script>
    <script defer src="../assets/javascript/main.js"></script>
    <script defer src="../assets/javascript/shopping.js"></script>
</head>
<body>
    <!-- header starts -->
    <header class="header bg-gray-800" ng-controller="headerController">
        <nav class="d-flex align-items-center">
            <div class="logo">
                <a href="../index_login.html">
                    <img src="../assets/images/logo.png" alt="uixecure會員網logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="https://www.unixecure.com/tw/index" target="_blank">智慧資安入口網</a></li>
                    <li><a href="#">儀表板</a></li>
                    <li><a href="product_solutions.html">產品方案列表</a></li>
                    <li><a href="support-center.html">支援中心</a></li>
                    <li class="d-block d-lg-none">
                        <a href="#" class="btn-member member ml-4" ng-click="memberPhoneToggle()"><i class="fa-solid fa-user"></i> 會員中心</a>
                        <ul class="dropdown member-dropdown hide" ng-class="memberPhone ? 'show' : 'hide'">
                            <li><a href="../member/04_member.html" class="active">使用服務列表</a></li>
                            <li><a href="../member/04_member_edit.html">會員資料修改</a></li>
                            <li><a href="../member/04_security_settings.html">安全性設定</a></li>
                            <li><a href="../member/04_purchase_history.html">購買記錄</a></li>
                            <li><a href="../member/04_repair_service.html">報修服務</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="language-phone"><span class="mr-3" ng-click="languagePhoneToggle()">{{language[languageIndex]}}</span><i class="fa-solid fa-globe"></i></a>
                        <ul class="language-menu" ng-class="languagePhone ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="d-flex align-items-center">
                    <li class="d-none d-lg-block">
                        <a href="#" class="btn-member member" ng-click="memberToggle()"><i class="fa-solid fa-user"></i> 會員中心</a>
                        <ul class="dropdown member-dropdown hide" ng-class="memberMenu ? 'show' : 'hide'">
                            <li><a href="../member/04_member.html" class="active">使用服務列表</a></li>
                            <li><a href="../member/04_member_edit.html">會員資料修改</a></li>
                            <li><a href="../member/04_security_settings.html">安全性設定</a></li>
                            <li><a href="../member/04_purchase_history.html">購買記錄</a></li>
                            <li><a href="../member/04_repair_service.html">報修服務</a></li>
                        </ul>
                    </li>
                    <li><a href="05_shopping_list.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <li class="d-lg-block d-none"><a href="#" class="btn language hide fa-solid fa-globe"></a>
                        <a href="#" class="btn language fa-solid fa-globe" ng-click="languageToggle()"></a>
                        <ul class="dropdown" ng-class="languageMenu ? 'show' : 'hide'">
                            <li ng-repeat="li in language" ng-class="{'active' : languageIndex == $index}"><a href="#" ng-click="languageFun($index)">{{li}}</a></li>
                        </ul>
                    </li>
                    <li class="d-block d-lg-none"><button type="button" class="btn bars"><i class="fa-solid fa-bars"></i></button></li>
                </ul>                
            </div>
        </nav>
    </header>
    <!-- header ends -->
    <!-- content starts -->
    <section class="content shopping-bg">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="shopping-container">
                        <h3 class="mb-4">購物車</h3>
                        <!-- shopping list -->
                        <div class="shopping-list mb-3">
                            <figure class="mb-2">
                                <img src="assets/images/logo_blank.png" alt="">
                            </figure>                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h4 class="text-primary">網頁弱點掃描服務</h4>
                                    <p class="text-gray-500 mb-2">9,000 元 / 次</p>
                                    <div class="d-flex align-items-center shopping-number">
                                        <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                                        <input type="text" class="shopping-number" value="1" />
                                        <button type="button" class="btn"><i class="fa-solid fa-plus-large"></i></button>
                                        <span class="fs-6 ml-2">套</span>
                                        <span class="text-gray-500">・9,000 元 / 次</span>
                                    </div>
                                </div>
                                <div class="text-primary fs-4 fw-bold">NT$9,000</div>
                            </div>
                        </div>
                        <!-- shopping list -->
                        <div class="shopping-list mb-3">
                            <figure class="mb-2">
                                <img src="assets/images/logo_blank.png" alt="">
                            </figure>                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h4 class="text-primary">SIVAS 資安弱點評鑑系統</h4>
                                    <p class="text-gray-500 mb-2">使用期限一年，2023-03-07 至 2024-03-07。</p>
                                    <div class="d-flex align-items-center shopping-number">
                                        <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                                        <input type="text" class="shopping-number" value="1000" />
                                        <button type="button" class="btn"><i class="fa-solid fa-plus-large"></i></button>
                                        <span class="fs-6 ml-2">套</span>
                                        <span class="text-gray-500">・10 元 / 套</span>
                                    </div>
                                </div>
                                <div class="text-primary fs-4 fw-bold">NT$10,000</div>
                            </div>
                        </div>
                        <!--  -->
                        <article class="statement-block mb-3" style="max-height: 233px;">
                            <h3 class="text-center mb-3">購物聲明</h3>
                            <p class="mb-4 lh-lg">當您選取 結帳 進入交易流程，表示已同意 智慧資安科技股份有限公司 的 隱私權政策 及 服務條款 ，我們將在每年合約到期前 2 個月通知您下一年度的續約費用。每次付款當日開始計算 10 日內皆可取消訂單，第 11 日將不再接受退款。</p>
                            <h4 class="mb-3">購物須知</h4>
                            <ol class="list-style-type-decimal mb-4">
                                <li>智慧資安科技股份有限公司 線上購買服務的購物流程使用SSL加密方式保障客戶資料傳送的隱私。</li>
                                <li>交易往來皆使用電子化的線上購買服務，不會產生實體物品交易，交易結果將以Email型式傳送，請妥善保存購買憑證。</li>
                                <li>當您選取 結帳 後，智慧資安科技股份有限公司 的線上購買服務使用綠界的線上刷卡功能，如您為國外客戶，請注意我們一律以台幣計價。</li>
                                <li>智慧資安科技股份有限公司 收到您的訂單後，如有無法接受訂單之異常情形，或您下單後未能完成正常付款，應視為訂單(買賣契約)全部自始不成立或失效，智慧資安科技股份有限公司 得於合理期間內通知說明拒絕接受訂單。請您重新依需求下單訂購。</li>
                                <li>智慧資安科技股份有限公司 的線上購買服務分為軟體類及服務類，訂單成立後將依照服務性質的差異提供服務流程，下方為2種服務的流程說明：
                                    <p class="py-2">軟體類</p>
                                    <ol class="list-style-type-decimal mb-3">
                                        <li>軟體類產品於首次購買後，將線上提供下載Agent及安裝手冊，若安裝過程有問題，請洽服務台servicedesk@unixecure.com.tw，我們將提供技術支援。</li>
                                        <li>產品下載會佔用網路頻寬，下載前請確認網路環境與硬碟空間。</li>
                                        <li>安裝後的產品須開通服務授權才可正常使用，反悔期滿（訂單成立的第 11 日開始）我們將不接受退貨。</li>
                                        <li>服務授權到期日由服務起始日加上反悔期10日曆天及服務提供的 365 日曆天。</li>
                                        <li>續約的服務授權將在原授權到期隔日開始計算，續約的授權到期由服務起始日加上反悔期10日曆天及服務提供的 365 日曆天，若授權到期後沒執行續約，將無法再使用產品。</li>
                                        <li>如於 智慧資安科技股份有限公司 正常提供服務的情況下，客戶於合約期間內未行使權益，本公司視同服務已提供，客戶將自行吸收損失。 </li>
                                        <li>若合約到期不續約，請依安裝手冊執行Agent的移除程式。</li>
                                    </ol>
                                    <p class="py-2">服務類</p>
                                    <ol class="list-style-type-decimal">
                                        <li>服務類以次數計價，若有新服務需求，請重新執行線上購買服務。</li>
                                        <li>服務類的訂單成立後，即開放客戶預約檢測日期，系統僅提供預約當日起算1個月後的日期，請購買後自行斟酌預約檢測的日期。</li>
                                        <li>訂單成立的第 11 日開始即無法退貨。</li>
                                        <li>我們將依預約日期進行遠端的檢測作業，請於預約檢測日期時，客戶端環境須同時配合設定防火牆規則並開放至預約檢測作業結束，才能供 智慧資安科技股份有限公司 的技術團隊進行環境測試及正式檢測作業。</li>
                                        <li>若為網頁弱點掃描產品，請於預約日期時一併提供受檢網頁的網址，供環境測試及正式檢測作業使用，其餘服務類產品不需要提供受檢網頁的網址。</li>
                                        <li>服務授權到期日由結帳日加上反悔期10日曆天及服務提供的 365 日曆天，若客戶於服務到期仍沒成功預約，本公司視同服務已提供，將不予以退貨。</li>
                                    </ol>
                                </li>
                            </ol>
                            <h4 class="mb-3">退貨須知：</h4>
                            <ol class="list-style-type-decimal mb-4">
                                <li>智慧資安科技股份有限公司 提供的服務皆為電子化型式，並無實體貨物交易之行為，如於 10 天反悔期內需退貨，我們將取消訂單並執行刷退服務，10 天反悔期後將無法再退貨。</li>
                                <li>訂單成立後可享 10 天反悔期之權益，如您在安裝產品有無法解決的問題，或是對於產品有任何型式的問題造成無法使用此服務，您可在 10 天反悔期內執行退貨服務。</li>
                                <li>若您對於購買流程、付款方式及退貨方式有疑問，您可直接聯絡服務台servicedesk@unixecure.com.tw。</li>
                                <li>若是購買軟體類產品且已安裝Agent，請依安裝手冊執行Agent的移除程式。</li>
                            </ol>
                            <h4 class="mb-3">特別說明：</h4>
                            <ol class="list-style-type-decimal">
                                <li>訂單取消將執行信用卡刷退，可能影響客戶參與銀行的信用卡活動，須自負匯率及稅額，由客戶自行承擔。</li>
                                <li>客戶同意退貨由智慧資安代為處理發票及銷貨退回證明單，以加速退款作業。</li>
                            </ol>
                        </article>
                        <!--  -->
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="我同意" id="shppping-option" disabled>
                            <label class="form-check-label" for="shppping-option">我同意 <span class="text-primary fw-bold">購物聲明</span> 與 <span class="text-primary fw-bold">退貨聲明</a></label>
                            <span class="text-alarm">*</span>
                        </div>
                        <!--  -->
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="我同意" id="assent-option">
                            <label class="form-check-label" for="assent-option">我同意 <a href="#" class="link-outline-primary fw-bold">隱私權政策</a> 與 <a href="#" class="link-outline-primary fw-bold">服務條款</a></label>
                            <span class="text-alarm">*</span>
                        </div>
                        <a href="05_shopping_list.html" class="link-gray-500">繼續逛逛</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="shopping-container">
                        <h3 class="mb-4">訂單明細</h3>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <span class="fs-6">總計</span>
                            <span class="text-primary fs-4 fw-bold">NT$10,000</span>                            
                        </div>
                        <button type="button" class="btn btn-fill-primary d-block w-100"  onclick="location.href='credit_card.html'">結賬</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content ends -->
    <!-- footer starts -->
    <footer class="footer bg-gray-800" ng-include="'../footer_page.html'" ng-controller="footerController"></footer>
    <!-- footer ends -->
</body>
</html>